<h1>Incomplete</h1>

<%= form_with scope: :event, url: events_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :photo_url %><br>
    <%= form.file_field :photo_url %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :'Street address' %><br>
    <%= form.text_field :address, placeholder: '', id: 'addressInput' %>
  </p>

  <p>
    <%= form.label :'postcode' %><br>
    Singapore <%= form.text_field :postcode, id: 'postcodeInput' %>
  </p>

  <p>
    <%= form.label :'latitude' %><br>
    <%= form.text_field :latitude, id: 'latitudeHidden' %> (to be hidden)
  </p>

  <p>
    <%= form.label :'longtitude' %><br>
    <%= form.text_field :longtitude, id: 'longtitudeHidden' %> (to be hidden)
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', events_path %>

<script type="text/javascript">

	console.log("Works.")
	var addressInput = document.getElementById('addressInput');
	var postcodeInput = document.getElementById('postcodeInput');
	var latHide = document.getElementById('latitudeHidden');
	var longHide = document.getElementById('longtitudeHidden');
	var options = {
	  // types: ['establishment'],
	  componentRestrictions: {country: 'sg'}
	};

	function initAutocomplete() {
		autocomplete = new google.maps.places.Autocomplete(addressInput, options);
		autocomplete.addListener('place_changed', fillInAddress);
	}

	function fillInAddress() {
		var place = autocomplete.getPlace();

		for (var i = 0; i < place.address_components.length; i++) {
      for (var j = 0; j < place.address_components[i].types.length; j++) {
        if (place.address_components[i].types[j] == "postal_code") {
		          postcodeInput.value = place.address_components[i].long_name;
        }
      }
    }
		latHide.value = place.geometry.location.lat();
		longHide.value = place.geometry.location.lng();
	}

</script>

<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCFHJd-010wTpUGyWk2qY8djx5kwywzdU&libraries=places&callback=initAutocomplete">
</script>









