
<%= stylesheet_link_tag "events_new" %>

<div class="container-fluid">
	<div class="wrapper preload">
	  <div id="wizard" class="wizard">
	    <div class="wizard__content">
	      <header class="wizard__header">
	        <div class="wizard__header-overlay"></div>

	        <div class="wizard__header-content">
	          <h1 class="wizard__title" >Get Truckin'!</h1>
	          <p class="wizard__subheading">Register your event in <span>4</span> simple steps.</p>
	        </div>

	        <div class="wizard__steps">
	          <nav class="steps">
		          <div class="step">
		            <div class="step__content">
		              <p class="step__number"><i class="fas fa-map-marker-alt"></i></p>
		              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
		                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
		                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
		              </svg>

		              <div class="lines">
		                <div class="line -start">
		                </div>

		                <div class="line -background">
		                </div>

		                <div class="line -progress">
		                </div>
		              </div>
		            </div>
		          </div>

		          <div class="step">
		            <div class="step__content">
		              <p class="step__number"><i class="fas fa-utensils"></i></p>
		              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
		                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
		                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
		              </svg>

		              <div class="lines">
		                <div class="line -background">
		                </div>

		                <div class="line -progress">
		                </div>
		              </div>
		            </div>
		          </div>

		          <div class="step">
		            <div class="step__content">
		              <p class="step__number"><i class="fas fa-truck"></i></p>
		              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
		                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
		                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
		              </svg>

		              <div class="lines">
		                <div class="line -background">
		                </div>

		                <div class="line -progress">
		                </div>
		              </div>
		            </div>
		          </div>

		          <div class="step">
		            <div class="step__content">
		              <p class="step__number"><i class="fas fa-camera-retro"></i></p>
		              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
		                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
		                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
		              </svg>

		              <div class="lines">
		                <div class="line -background">
		                </div>

		                <div class="line -progress">
		                </div>
		              </div>
		            </div>
		          </div>
	        	</nav>
	        </div>
	      </header>


	      <div class="panels">
					<%= form_for @event do |f| %>

						<!-- Panel 1 -->
		        <div class="panel">
		          <header class="panel__header">
		            <h2 class="panel__title">Event Details</h2>
		            <p class="panel__subheading">Give your event a cool name, and tell us where it'll be at. </p>
		            <div style="visibility: hidden; height: 0;">
		            	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.
		            </div>
		          </header>

						  <div class="form-group">
						    <%= f.label :title %>
						    <%= f.text_field :title, class: 'form-control', placeholder: "e.g. Bill's Big Beef Bonanza", required: true, minlength: 3, maxlength: 20 %>
						  </div>
						  <div class="form-group">
						    <%= f.label :description %>
						    <%= f.text_area :description, class: 'form-control', placeholder: 'What type(s) of food will you be serving? Tell us a bit about your event.', required: true, minlength: 3 %>
						  </div>
						  <div class="form-group">
						    <%= f.label :'street address' %>
						    <%= f.text_field :address, class: 'form-control', placeholder: '', id: 'addressInput', required: true, minlength: 3 %>
						  </div>
						  <div class="form-group">
						    <%= f.label :'postcode' %>
						    <div class="input-group">
							    <div class="input-group-prepend">
					          <span class="input-group-text">Singapore</span>
					        </div>
							    <%= f.text_field :postcode, class: 'form-control', id: 'postcodeInput' %>
						    </div>
						  </div>

		        </div>

						<!-- Panel 2 -->
		        <div class="panel">
		          <header class="panel__header">
		            <h2 class="panel__title">Your Menu</h2>
		            <p class="panel__subheading">Showcase your best dishes to hungry customers!</p>
		            <div style="visibility: hidden; height: 0;">
		            	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.
		            </div>
		          </header>

							<%= f.add_nested_fields_link :dishes do %><button class="btn btn-primary btn-sm mb-2">Add Dish</button><% end %>
						  <ul class="list-group">
						  <!-- <ul class="list-group list-group-flush"> -->
						    <%= f.nested_fields_for :dishes do |dishes_form| %>
						      <li class="list-group-item">
										<div class="form-row">
											<div class="form-group col-md-9">
							        <!-- <%= dishes_form.label :name %> -->
							        <%= dishes_form.text_field :name, class: 'form-control', placeholder: "Name e.g. Jumpin' Jumbo Hot Dog" %>
							     		</div>
											<div class="form-group col-md-3">
											<!-- <%= dishes_form.label :category %> -->
											<%= dishes_form.select :course, ['Starter', 'Main', 'Dessert', 'Beverage'], {:prompt => "Category..."}, {class: "form-control"} %>
							     		</div>
										</div>

										<div class="form-row">
											<div class="form-group col-md-9">
												<!-- <%= dishes_form.label :description %> -->
												<%= dishes_form.text_area :description, class: 'form-control', placeholder: '100% Beef... extra juicy, extra thicc!' %>
											</div>
											<div class="form-group col-md-3">
						    				<div class="input-group">
							    				<div class="input-group-prepend">
					          				<span class="input-group-text">S$</span>
														<!-- <%= dishes_form.label :price %> -->
														<%= dishes_form.text_field :price, class: 'form-control', placeholder: 'Price' %>
						    					</div>
												</div>
					        		</div>

										<%= dishes_form.remove_nested_fields_link do %><button class="btn btn-danger btn-sm">Remove Dish</button><% end %>
										</div>

						      </li>
								<% end %>
							</ul>

		        </div>

						<!-- Panel 3 -->
		        <div class="panel">
		          <header class="panel__header">
		            <h2 class="panel__title">Truck & Event Dates</h2>
		            <p class="panel__subheading">We have 3 types of foodtrucks here at Foodtruckr - Click to find out more.</p>
		            <div style="visibility: hidden; height: 0;">
		            	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.
		            </div>
		          </header>

		          <!-- <p class="panel__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p> -->

							<div class="card-deck">

								<div class="card">
									<a href="" id="modal-truck-basic" data-toggle="modal" data-target="#truckModal">
									  <img class="card-img-top" src=<%= image_url 'truck_basic.jpg' %> alt="Basic truck">
									  <div class="card-body">
									    <h5 class="card-title">Basic truck</h5>
									    <p class="card-text">S$200/day</p>
									  </div>
									</a>
								</div>

								<div class="card">
									<a href="" id="modal-truck-kitchen" data-toggle="modal" data-target="#truckModal">
									  <img class="card-img-top" src=<%= image_url 'truck_kitchen.jpg' %> alt="Kitchen truck">
									  <div class="card-body">
									    <h5 class="card-title">Kitchen truck</h5>
									    <p class="card-text">S$500/day</p>
									  </div>
									</a>
								</div>

								<div class="card">
									<a href="" id="modal-truck-freezer" data-toggle="modal" data-target="#truckModal">
									  <img class="card-img-top" src=<%= image_url 'truck_freezer.jpg' %> alt="Freezer truck">
									  <div class="card-body">
									    <h5 class="card-title">Freezer truck</h5>
									    <p class="card-text">S$250/day</p>
									  </div>
									</a>
								</div>

							</div>

		          <p id="eventStartDateShow">&nbsp</p>
							<p id="eventEndDateShow">&nbsp</p>

		          <div class="row">
		          	<div class="col-2">
									<%= f.label :"Start time" %>
								</div>
								<%= f.time_select :start_time, {minute_step: 15, ampm: true}, {class: "col-2 form-control"} %>
							</div>
							<div class="row">
								<div class="col-2">
								<%= f.label :"End time" %>
								</div>
								<%= f.time_select :end_time, {minute_step: 15, ampm: true}, {class: "col-2 form-control"} %>
							</div>
							<!-- <p class="panel__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p> -->
		        </div>

						<!-- Panel 4 -->
		        <div class="panel">
		          <header class="panel__header">
		            <h2 class="panel__title">Photo</h2>
		            <p class="panel__subheading">Finally, upload a snazzy photo to show-off your event!</p>
		          </header>

						  <div class="form-group">
						    <%= f.file_field :photo_url, class: "form-control-file", required: true %>
						  </div>

		          <!-- <p class="panel__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p> -->
		        </div>
		      </div>

					<!-- Forward/Back buttons -->
		      <div class="wizard__footer">
		        <button type="button" class="button previous">Previous</button>
		        <button type="button" class="button next">Next</button>
		      </div>

			  <%= f.hidden_field :start_date, id: 'eventStartDateHidden', required: true %>
			  <%= f.hidden_field :end_date, id: 'eventEndDateHidden', required: true %>
			  <%= f.hidden_field :lat, id: 'latitudeHidden' %>
				<%= f.hidden_field :lng, id: 'longitudeHidden' %>
				<%= f.hidden_field :views, value: 0 %>
				<%= f.hidden_field :truck_id, value: nil %>
				<% end %>

	    </div>
			<!-- After submit -->
	    <h1 class="wizard__congrats-message">
	      Well done, you're all set!
	    </h1>

	  </div>
	</div>
</div>

<!-- Truck modal -->
<div class="modal fade" id="truckModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Basic truck</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
        	Description and reasons to pick this truck
      	</div>
				<div>
					<input type="text" id="flatpickr-input" style="visibility: hidden; height: 0;">
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<%= javascript_include_tag "events_new" %>
<%= javascript_include_tag "wizform" %>

<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GMAPS_KEY"]}&libraries=places&callback=initAutocomplete", async: true, defer: true %>








