
<%= stylesheet_link_tag "wizform" %>


<div class="wrapper">
  <div id="wizard" class="wizard">
    <div class="wizard__content">
      <header class="wizard__header">
        <div class="wizard__header-overlay"></div>

        <div class="wizard__header-content">
          <h1 class="wizard__title" >Get Frucking!</h1>
          <p class="wizard__subheading">Register your event in <span>4</span> simple steps.</p>
        </div>

        <div class="wizard__steps">
          <nav class="steps">
	          <div class="step">
	            <div class="step__content">
	              <p class="step__number"><i class="fas fa-map-marker-alt"></i></p>
	              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
	                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
	                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
	              </svg>

	              <div class="lines">
	                <div class="line -start">
	                </div>

	                <div class="line -background">
	                </div>

	                <div class="line -progress">
	                </div>
	              </div>
	            </div>
	          </div>

	          <div class="step">
	            <div class="step__content">
	              <p class="step__number"><i class="fas fa-utensils"></i></p>
	              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
	                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
	                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
	              </svg>

	              <div class="lines">
	                <div class="line -background">
	                </div>

	                <div class="line -progress">
	                </div>
	              </div>
	            </div>
	          </div>

	          <div class="step">
	            <div class="step__content">
	              <p class="step__number"><i class="fas fa-truck"></i></p>
	              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
	                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
	                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
	              </svg>

	              <div class="lines">
	                <div class="line -background">
	                </div>

	                <div class="line -progress">
	                </div>
	              </div>
	            </div>
	          </div>

	          <div class="step">
	            <div class="step__content">
	              <p class="step__number"><i class="fas fa-camera-retro"></i></p>
	              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
	                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
	                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
	              </svg>

	              <div class="lines">
	                <div class="line -background">
	                </div>

	                <div class="line -progress">
	                </div>
	              </div>
	            </div>
	          </div>
        	</nav>
        </div>
      </header>


      <div class="panels">
				<%= form_for @event do |f| %>

					<!-- Panel 1 -->
	        <div class="panel">
	          <header class="panel__header">
	            <h2 class="panel__title">Event details</h2>
	            <p class="panel__subheading">Give your event a cool name, and tell us where it'll be at.</p>
	          </header>

	          <p class="panel__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>

	          <p class="panel__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

					  <p>
					    <%= f.label :title %><br>
					    <%= f.text_field :title %>
					  </p>
					  <p>
					    <%= f.label :description %><br>
					    <%= f.text_area :description %>
					  </p>
					  <p>
					    <%= f.label :'Street address' %><br>
					    <%= f.text_field :address, placeholder: '', id: 'addressInput' %>
					  </p>
					  <p>
					    <%= f.label :'postcode' %><br>
					    Singapore <%= f.text_field :postcode, id: 'postcodeInput' %>
					  </p>

	        </div>

					<!-- Panel 2 -->
	        <div class="panel">
	          <header class="panel__header">
	            <h2 class="panel__title">Your menu</h2>
	            <p class="panel__subheading">[Subheading here]</p>
	          </header>

						<%= f.add_nested_fields_link :dishes do %><button class="btn btn-primary btn-sm">Add Dish</button><% end %>
					  <ul class>
					    <%= f.nested_fields_for :dishes do |dishes_form| %>
					      <li>
					        <%= dishes_form.label :name %>
					        <%= dishes_form.text_field :name %>
									<%= dishes_form.label :description %>
									<%= dishes_form.text_field :description %>
									<%= dishes_form.label :"category, [TBU]" %>
									<%= dishes_form.select :course, ['Starter', 'Main', 'Dessert', 'Beverage'] %>
									<%= dishes_form.label :price %>
									<%= dishes_form.text_field :price %>
									<%= dishes_form.remove_nested_fields_link %>
					      </li>
							<% end %>
						</ul>

	        </div>

					<!-- Panel 3 -->
	        <div class="panel">
	          <header class="panel__header">
	            <h2 class="panel__title">Truck & event dates</h2>
	            <p class="panel__subheading">We have 3 types of foodtrucks here at [FWF] - hover over each to find out more.</p>
	          </header>

	          <p class="panel__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>

						<div class="card-deck">

							<div class="card">
								<a href="" id="modal-truck-basic" data-toggle="modal" data-target="#truckModal">
								  <img class="card-img-top" src=<%= image_url 'truck_basic.jpg' %> alt="Basic truck">
								  <div class="card-body">
								    <h5 class="card-title">Basic truck</h5>
								    <p class="card-text">S$200/day</p>
								  </div>
								</a>
							</div>

							<div class="card">
								<a href="" id="modal-truck-kitchen" data-toggle="modal" data-target="#truckModal">
								  <img class="card-img-top" src=<%= image_url 'truck_kitchen.jpg' %> alt="Kitchen truck">
								  <div class="card-body">
								    <h5 class="card-title">Kitchen truck</h5>
								    <p class="card-text">S$500/day</p>
								  </div>
								</a>
							</div>

							<div class="card">
								<a href="" id="modal-truck-freezer" data-toggle="modal" data-target="#truckModal">
								  <img class="card-img-top" src=<%= image_url 'truck_freezer.jpg' %> alt="Freezer truck">
								  <div class="card-body">
								    <h5 class="card-title">Freezer truck</h5>
								    <p class="card-text">S$250/day</p>
								  </div>
								</a>
							</div>

						</div>

	          <p id="eventStartDateShow"></p>
						<p id="eventEndDateShow"></p>
	          <p>
							<%= f.label :"Start time" %><br>
							<%= f.time_select :start_time, minute_step: 15, ampm: true %>
						</p>
						<p>
							<%= f.label :"End time" %><br>
							<%= f.time_select :end_time, minute_step: 15, ampm: true %>
						</p>
						<p class="panel__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
	        </div>

					<!-- Panel 4 -->
	        <div class="panel">
	          <header class="panel__header">
	            <h2 class="panel__title">Photo</h2>
	            <p class="panel__subheading">Finally, upload a snazzy photo to show-off your event!</p>
	          </header>

					  <p>
					    <%= f.file_field :photo_url %>
					  </p>

	          <p class="panel__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
	        </div>
	      </div>

				<!-- Forward/Back buttons -->
	      <div class="wizard__footer">
	        <button type="button" class="button previous">Previous</button>
	        <button type="button" class="button next">Next</button>
	      </div>

		  <%= f.hidden_field :start_date, id: 'eventStartDateHidden' %>
		  <%= f.hidden_field :end_date, id: 'eventEndDateHidden' %>
		  <%= f.hidden_field :lat, id: 'latitudeHidden' %>
			<%= f.hidden_field :lng, id: 'longitudeHidden' %>
			<%= f.hidden_field :views, value: 0 %>
			<%= f.hidden_field :truck_id, value: nil %>
			<% end %>

    </div>
		<!-- After submit -->
    <h1 class="wizard__congrats-message">
      Well done, you're all set!
    </h1>

  </div>
</div>


<!-- Truck modal -->
<div class="modal fade" id="truckModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Basic truck</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
        	[Descriptions of truck, reasons to pick this]
      	</div>
				<div>
					<input type="text" id="flatpickr-input">
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Back', events_path %>


<%= javascript_include_tag "events_new" %>
<%= javascript_include_tag "wizform" %>

<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
<script defer src="https://use.fontawesome.com/releases/v5.4.2/js/all.js" integrity="sha384-wp96dIgDl5BLlOXb4VMinXPNiB32VYBSoXOoiARzSTXY+tsK8yDTYfvdTyqzdGGN" crossorigin="anonymous"></script>
<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCFHJd-010wTpUGyWk2qY8djx5kwywzdU&libraries=places&callback=initAutocomplete"></script>









