<h1>Incomplete</h1>

<%= form_for @event do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :photo_url %><br>
    <%= f.file_field :photo_url %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :'Street address' %><br>
    <%= f.text_field :address, placeholder: '', id: 'addressInput' %>
  </p>

  <p>
    <%= f.label :'postcode' %><br>
    Singapore <%= f.text_field :postcode, id: 'postcodeInput' %>
  </p>

  <%= f.hidden_field :lat, id: 'latitudeHidden' %>
	<%= f.hidden_field :lng, id: 'longitudeHidden' %>

  Menu:
	<%= f.add_nested_fields_link :dishes do %><button class="btn btn-primary btn-sm">Add Item</button><% end %>
  <ul>
    <%= f.nested_fields_for :dishes do |dishes_form| %>
      <li>
        <%= dishes_form.label :name %>
        <%= dishes_form.text_field :name %>
				<%= dishes_form.label :description %>
				<%= dishes_form.text_field :description %>
				<%= dishes_form.remove_nested_fields_link %>
      </li>
		<% end %>

	</ul>


  <p>
    <%= f.submit "Create Event" %>
  </p>
<% end %>
<%= link_to 'Back', events_path %>


<%= javascript_include_tag "events_new" %>

<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCFHJd-010wTpUGyWk2qY8djx5kwywzdU&libraries=places&callback=initAutocomplete">
</script>









