<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card p-3 mt-4 mb-2 shadow-sm">
				<%= cl_image_tag(@event.photo_url, style: 'width: 100%; height: 16rem; object-fit: cover; object-position: center; background-color: black') %>
				<h1 class="display-4 text-center"><%= @event.title %></h1>
				<p class="lead text-center small"><%= @event.start_date.strftime("%a #{@event.start_date.day.ordinalize} %b %Y") %> - <%= @event.end_date.strftime("%a #{@event.end_date.day.ordinalize} %b %Y") %><br>
				<%= @event.start_time.strftime("%l:%M%P") %> to <%= @event.end_time.strftime("%l:%M%P") %><br>
				<%= @event.address %> <%= @event.postcode %></p>
				<p class="lead text-center"><%= @event.description %>
				<hr>
				<p class="lead text-center">By: <%= link_to @event.chef.name, chef_path(@event.chef) %><br>
				<%= @event.chef.description %></p>
			</div>
		</div>

		<div class="col-12">
			<div class="card p-3 my-2 shadow-sm">
			<% if current_customer %>
				<h4 class="text-center mb-0">Menu</h4>
				<p class="mb-4 text-center"><%= link_to 'Preorder', new_event_order_url(@event) %></p>
			<% else %>
				<h4 class="text-center mb-4">Menu</h4>
			<% end %>
				<div class="row">
					<div class="col-12 col-md-6">
						<% @event.dishes.each do |dish| %>
							<p><strong><%= dish.name %></strong><span class="float-right"><%= number_to_currency(dish.price) %></span><br>
							<%= dish.description %></p>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		
		<div class="col-12">
		<div class="card p-3 my-2 shadow-sm">
		
		<% if @orders.length > 0 && (current_chef == @event.chef || current_customer) %>
					<h4 class="text-center mb-0"><% if current_customer %>Your <% end %>Preorders</h4>

					<% @orders.each do |order| %>

						<div class="col-12 col-md-6">
							<p class="small">
								<strong>Order <%= order.id %></strong><br>
								<% if current_chef %>Customer: <%= order.customer.username %><br><% end %>
								Time: <%= order.time.strftime("%l:%M%P %a #{order.time.day.ordinalize} %b %Y") %><br>
								Total: $<%= order.total %></p>
								
								<p class="small"><% order.orderitems.each do |orderitem| %>
								<%= orderitem.quantity %> x  <%=  orderitem.dish.name %> 
									<% end %></p>
							</p>
						</div>
						
					<% end %>
					
				</div>
			</div>

		<% end %>

	

	</div>
</div>