<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
	<div class="container">
  <a class="navbar-brand" href="/"><strong>Fruck with Friends</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
			<%= link_to 'Events', events_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<% if chef_signed_in? %><%= current_chef.username %><% elsif customer_signed_in? %><%= current_customer.username %><% else %>Login<% end %>
        </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<% if chef_signed_in? %>
				<%= link_to 'New Event', new_event_path, class: 'dropdown-item' %>
				<%= link_to 'Edit Profile', edit_chef_registration_url, class: 'dropdown-item' %>
				<div class="dropdown-divider"></div>
				<%= link_to 'Log Out', destroy_chef_session_url, method: :delete, class: 'dropdown-item' %>
				<% elsif customer_signed_in? %>
				<%= link_to 'Edit Account', edit_customer_registration_url, class: 'dropdown-item' %>
				<div class="dropdown-divider"></div>
				<%= link_to 'Log Out', destroy_chef_session_url, method: :delete, class: 'dropdown-item' %>
				<% else %>
				<%= link_to 'User', new_customer_session_url, class: 'dropdown-item' %>
				<%= link_to 'Chef', new_chef_session_url, class: 'dropdown-item' %>
				<% end %>
        </div>
      </li>
    </ul>
	</div>
</nav>

  <body>
    <%= yield %>
  </body>

</html>
